@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font: 62.5%;
}

body {
  background-color: #1a1924;
  font-size: 1.6rem;
  color: white;
}
body * {
  font-family: "Roboto", sans-serif;
}

#app {
  /* padding: 24px 32px; */
  padding: 2.4rem 3.2rem;
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-rows: max-content 1fr max-content;
  max-width: 880px;
  margin: auto;
}

#user-info img {
  width: 4.8rem;
  height: 4.8rem;
  object-fit: cover;
  border-radius: 50%;
}

#user-info {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

#top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#user-status .status {
  color: #00b37e;
  display: flex;
  align-items: baseline;
  gap: 0.3rem;
  margin-top: 0.4rem;
  font-size: 1.2rem;
}
#user-status .status::before {
  content: "";
  width: 0.8rem;
  height: 0.8rem;
  display: block;
  background-color: #00b37e;
  border-radius: 50%;
}

#last-seen {
  margin-top: 2.6rem;
  font-size: 1.2rem;
  line-height: 1.4rem;
  text-align: center;
}

#messages {
  display: flex;
  flex-direction: column;
}
.messages {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
width: fit-content;
}

.message {
  margin-top: 3rem;
  color: #e1e1e6;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.body {
  background-color: #633bbc;

  border-radius: 5px;
  padding: 1.4rem;
}

.you .body {
  background-color: #07847e;
}

.you {
  margin-left: auto;
}

.message.you .top {
  text-align: right;
}

.message .top {
  font-size: 1.2rem;
  line-height: 1.4rem;
}

.message:not(.you) {
  width: 40vh;
}

.input-wrapper {
  display: flex;
  align-items: center;
  background-color: #282843;
  border-radius: 999px;
  padding: 1.4rem 2.4rem;
  margin-top: 3rem;
}
.input-wrapper button i {
  color: white;
  font-size: 2.4rem;
}
.input-wrapper input {
  flex: 1;
  outline: none;
  color: #e1e1e6;
}

.input-wrapper input::placeholder {
  color: #e1e1e6;
  font-size: 1.2rem;
  line-height: 1.4rem;
}

.input-wrapper:focus-within{
  outline: 2px solid white;
}

input,
button {
  background-color: transparent;
  border: 0;
}
